<!DOCTYPE html>

<html lang="en">
<style>

    table, th, td {
    border:1px solid black;
    },
  
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--link rel="stylesheet" href="w3.css"--> 
    <!--https://www.w3schools.com/w3css/w3css_references.asp -->

</head>

<body id="body">
  <button id="endGameButton" style="display:none;" onclick="revealMenu()" type="button">End Game</button>
  
<div id="menu">
  
    <form id="rosterChange" method="post" action="/players"></form>
  
    <label for="rosterSelect">Change Roster:</label>
    <select name="rosterSelect" form="roster" id="rosterList" onchange="changeRoster()">
      <% for (var i = 0; i < directory.length; i++) { %>
        <option><%= directory[i] %></option>
      <% } %>
    </select>

    <button onclick="location.href='/players/new-roster'">+</button>
    <form method="post" action="/">
        <input type="hidden" name="rosterName" id="rosterName" value="<%= directory[0] %>">
        <button>Delete Roster</button>
    </form>
    
</div>

    <h1>Players</h1>
    <table id="knownPlayers">
        <tr>
            <th>Device</th>
            <th>Name</th>
            <th>Number</th>
            <th>Acceleration</th>
        </tr>
        <% for( const player in known ) { %>
        <tr>
            <td><%= player %></td>
            <td><%= known[player].name %></td>
            <td><%= known[player].number %></td>
            <td><%= known[player].data.acc %></td>
        </tr>
        <% } %>
    </table>

    <% if ( Object.keys(unknown).length > 0 ) { %>
        <h1 id="unknownHead">Unknown Players</h1>
        <table id="unknownPlayers">
            <tr>
                <th>IP Address</th>
                <th>Acceleration</th>
            </tr>
            <% for( const player in unknown ) { %>
            <tr>
                <td><%= player %></td>
                <td><%= unknown[player].acc %></td>
            </tr>
            <% } %>
        </table>
    <% } %>

    <a href="/players/edit-team">Edit Team</a><br>
    <a href="/players/edit-devices">Edit Devices</a>

<script src="/socket.io/socket.io.js"></script>
<script>
    function changeRoster() {
        document.getElementById("rosterName").value = document.getElementById("rosterSelect").value;
        document.getElementById("rosterChange").submit();
    }
    /*
    function hideMenu(){
        document.getElementById("menu").style.display = "none";
        document.getElementById("endGameButton").style.display = "";
    }

    function revealMenu(){
        document.getElementById("menu").style.display = "";
        document.getElementById("endGameButton").style.display = "none";
    }
    
    $(document).ready(() => {
        $("#deleteButton").on("click", (event) => {
            var clientChoice = confirm("Are you sure you want to delete this Roster?");
            if (clientChoice == true){
                console.log("Delete the Roster!");  
                let value = $("#rosterList").val();
                
                $.ajax({
                    url: "/",
                    method: "POST",
                    data: {value: value},
                    success: (res) => {
                        if (res == "Accepted") {
                          console.log("Attempt to delete roster worked!");
                          window.location.replace("/");
                        } else {
                            console.log("Attempt to delete roster failed!")
                        }
                    }
                })
            } else {
                console.log("Don't Delete the Roster!");
                return;
            }
        })
    })
    */
    function renderTable(players) {
        var table = document.getElementById("knownPlayers");
        for (var i = table.rows.length - 1; i > 0; i-- ) {
            table.deleteRow(i);
        }
        for (var i = 0; i < Object.keys(players.known).length; i++ ) {
            var deviceNumber = Object.keys(players.known)[i];
            var newRow = table.insertRow(i + 1);
            newRow.insertCell(0).innerHTML = deviceNumber;
            newRow.insertCell(1).innerHTML = players.known[deviceNumber].name;
            newRow.insertCell(2).innerHTML = players.known[deviceNumber].number;
            newRow.insertCell(3).innerHTML = players.known[deviceNumber].data.acc;
        }

        if (Object.keys(players.unknown).length > 0) {
            table = document.getElementById("unknownPlayers");

            if (table != null) {
                for (var i = 1; i < table.rows.length; i++ ) {
                    table.deleteRow(i);
                }
            } else {
                var head = document.createElement("h1");
                head.id = "unknownHead"
                head.innerHTML = "Unknown Players";

                table = document.createElement("table");
                table.id = "unknownPlayers";
                var newRow = table.insertRow(0);
                newRow.insertCell(0).outerHTML = "<th>IP Address</th>";
                newRow.insertCell(1).outerHTML = "<th>Acceleration</th>";

                document.getElementById("body").appendChild(head);
                document.getElementById("body").appendChild(table);
            }

            for (var i = 0; i < Object.keys(players.unknown).length; i++ ) {
                var ip = Object.keys(players.unknown)[i];
                var newRow = table.insertRow(i + 1);
                newRow.insertCell(0).innerHTML = ip;
                newRow.insertCell(1).innerHTML = players.unknown[ip].acc;
            }
        } else {
            var head = document.getElementById("unknownHead");
            var table = document.getElementById("unknownPlayers");
            if (head != null) {
                head.remove();
            }
            if (table != null) {
                table.remove();
            }
        }
    }
  
    var socket = io();

    socket.on("new data", (players) => {
        console.log("New data available!")
        console.log(players);
      
        renderTable(players);
    });
</script>
</body>
</html>